body{
    background-image: url(../images/background/background.png);
    font-family: 'Poppins', sans-serif;

}
.wrapper{
    background-color:white;
    width:60%;
    margin:0 auto;
    padding:0px 20px;
}
header{
    width:100%;
    text-align: center;
    color:rgb(59,74,114);
    background-color:rgb(68, 216, 161);
    padding:20px;
    margin-left:-20px;
}
    header ul{
        padding-left: 0;
    }
    header nav li{
        width:20%;
    }
    .dropdown li{
        display:none;
        z-index:2;
    }
    header nav:hover .dropdown li{
        list-style-type: none;
        display:block;
        width:98%;
        float:right;
        clear:both;
    }

h3,header h1,h2,footer,p{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
nav{
    text-align: center;
}
li{
    list-style-type: none;
    display:inline-block;
    padding:10px 2px;
    width:25%; 
}
    nav a:link{
        text-decoration:none;
        text-align: center;
        border:1px solid rgb(59,74,114);
        background-color:rgb(68, 216, 161);
        color:rgb(59,74,114);
        display:block;
        width:100%;
        padding:10px 2px;
        float:right;
    }
    nav a:hover{
        text-decoration:none;
        border:1px solid rgb(68, 216, 161);
        background-color:rgb(59,74,114);
        color:rgb(0, 253, 148);
    }
article{
    	padding-bottom:7%;
}
    article p{
        padding:1%;
    }
    article a:link{
        text-decoration:none;
        text-align:center;
        padding:7px;
        border:1px solid rgb(59,74,114);
        background-color:rgb(68, 216, 161);
        color:rgb(59,74,114);
        position:relative;
        left:45%;
        top:10px;
    }
    article a:hover{
        text-decoration:none;
        text-align:center;
        padding:7px;
        border:1px solid rgb(68, 216, 161);
        background-color:rgb(59,74,114);
        color:rgb(0, 253, 148);
        position:relative;
        left:45%;
        top:10px;
    }
img{
    margin:0 auto;
    display:block;
    width:100px;
}
footer{
    width:100%;
    text-align: center;
    color:rgb(59,74,114);
    background-color:rgb(68, 216, 161);
    padding:20px;
    margin-left:-20px;
}
@media (max-width: 768px) {
    li{
        width:100%;
        margin-left:-50px;
    }
}